<!DOCTYPE html>
<html>
<head>
  <title>Rat_App2</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="box">
<h1>Welcome</h1>
<h2>Another app called Rat2</h2>
<p>The place where all the best cats are created</p>
<%= yield %>
</div>
</body>
</html>
