<!DOCTYPE html>
<html>
<head>
  <title>Rat</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="box">
<h2>Another app called Rat2</h2>
<%= yield %>
</div>
</body>
</html>
